<html lang="es">
<head>
    <title>{%block titulo %} {%endblock%}</title>
</head>

<body>
    <!--MENÚ-->
    <a href="{%url 'Principal'%}">Home</a>
    <a href="{%url 'Formulario'%}">Registrar</a>
    <a href="{%url 'Contacto'%}">Contactanos</a>
    <!-- CONTENIDO -->
    {% block contenido %} <!--Template Tag-->
    <!--block sirve para indicar que colocaremos un bloque de
    contenido a través de nuestra variable content -->
    {% endblock %}

    {% block formulario%} {%endblock%}

    {% block contacto%} {%endblock%}
</body>
</html>